<form [formGroup]="cargoForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <mat-label for="location">Location</mat-label>
    <input matInput type="text" id="location" formControlName="location" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="cargoType">Cargo Type</mat-label>
    <mat-select id="cargoType" formControlName="cargoType">
      <mat-option value="">Select a cargo type</mat-option>
      <mat-option value="1">Type 1</mat-option>
      <mat-option value="2">Type 2</mat-option>
      <mat-option value="3">Type 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="maxWeight">Cargo Weight</mat-label>
    <input matInput type="number" id="maxWeight" formControlName="maxWeight" />
  </mat-form-field>

  <div formGroupName="cargoDimensions" class="cargoDimensions">
    <mat-form-field>
      <mat-label for="length">Length</mat-label>
      <input matInput type="number" id="length" formControlName="length" />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="width">Width</mat-label>
      <input matInput type="number" id="width" formControlName="width" />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="height">Height</mat-label>
      <input matInput type="number" id="height" formControlName="height" />
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!isRequiredFieldsHasValue()"
  >
    Submit
  </button>
</form>
